DB_URL=jdbc:postgresql://localhost:5432/DB_NAME
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD

JWT_SECRET=JWT_SECRET
JWT_ACCESS_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

CLOUDINARY_CLOUD_NAME=Cloudinary_Name
CLOUDINARY_API_KEY=Cloudinary_API_KEY
CLOUDINARY_API_SECRET=Cloudinary_API_SECRET

MAIL_USERNAME=EMAIL
MAIL_PASSWORD=APP_PASSWORD

BASE_URL=http://localhost:8080
UPLOAD_DIR=uploads/