DB_URL=jdbc:postgresql://localhost:5432/DB_NAME
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD

JWT_SECRET=JWT_SECRET
JWT_ACCESS_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

CLOUDINARY_CLOUD_NAME=Cloudinary_Name
CLOUDINARY_API_KEY=Cloudinary_API_KEY
CLOUDINARY_API_SECRET=Cloudinary_API_SECRET

MAIL_USERNAME=EMAIL
MAIL_PASSWORD=APP_PASSWORD

BASE_URL=http://localhost:8080
UPLOAD_DIR=uploads/

STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_key
STRIPE_WEBHOOK_SECRET=whsec_your_secret
GEMINI_API_KEY=your_gemini_key

STRIPE_CONNECT_REFRESH_URL=https://breaddy.store/payments/connect/refresh
STRIPE_CONNECT_RETURN_URL=https://breaddy.store/payments/connect/success